.animation-wrapper{
    max-width: 400px;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 400px;
    top: 20%;
    z-index: 1;   
    visibility: hidden;
}
.animation-wrapper--visible{
    animation: head 3s 1;
    visibility: visible;
}
.animation-head{
    max-width: 150px;
    width: 100%;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    background-color: #ddd;
    overflow: hidden;
}
.ear{
    width: 50px;
    height: 50px;
    transform: rotate(12deg);
    left: 5px;
    top: 45%;
    position: absolute;
    background-color:  #ddd;
    border-radius: 15px;
}
.ear--right{
    transform: rotate(78deg);
    left: 24%;
}
.eyebrow{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 16%;
    animation: eyebrow--left 0.2s 1 linear;
    animation-fill-mode: both;
    animation-delay: 2s;
}
.eyebrow--right{
    left: 63%;
    animation: eyebrow--right 0.2s 1 linear;
    animation-fill-mode: both;
    animation-delay: 2s;
}

.eye-spot{
    width: 40px;
    height: 30px;
    background-color: rgb(92, 88, 88);
    position: absolute;
    top: 30%;
    left: 13%;
    transform: rotate(135deg);
    border-radius: 30px 17px 20px 12px;
}
.eye-spot--right{
    left: 60%;
    transform: rotate(54deg);
    border-radius: 12px 27px 20px 30px;
}

.eye{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 35%;
    left: 25%;
}
.eye--right{
    left: 68%;
}

.nose{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 45%;
    background-color: black;
}

.mouth{
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(12, 11, 11);
    position: absolute;
    top: 80%;
    left: 33%;
}
.mouth--visible{
    animation: mouth 1 0.5s ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}
.speechbubble{
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    bottom: 10%;
    left: 40%;
    padding: 25px;
    visibility: hidden;
}
.speechbubble--visible{
    visibility: visible;
    animation: speech 1 1s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.swear-words{
    font-size: 25px;
}

.animation-paw{
    position: absolute;
    width: 150px;
    height: 60px;
    border: 1px solid rgb(161, 157, 157);;
    background-color: rgb(161, 157, 157);
    top: 53%;
    right: 36%;
    margin: 0 auto;
    transform: rotate(-30deg);
    border-radius: 30px;
}
.animation-paw--visible{
    animation: paw 1 0.9s ease;
    animation-delay: 1.5s;
}