.main-wrapper{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.switcher-wrapper{
    max-width: 700px;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    z-index: 2;
}

.switcher-outer{
    max-width: 500px;
    width: 100%;
    height: 250px;
    background-color: rgb(68, 77, 85);
    margin: 0 auto;
    border-radius: 60px;
    padding-top: 40px;
}
.switcher-inner{
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: 170px;
    border-radius: 85px;
    position: relative;
    box-shadow: 0 0 5px 2px rgb(134, 132, 132);
    display: block;
    background-color: rgb(222, 224, 207);
}
.switcher-animated{
    transition: 0.3s ease;
    max-width: 170px;
    width: 100%;
    height: 170px;
    border-radius: 100px;
    background-color: red;
    position: absolute;
    left: 0;
}
.checkbox-switcher{
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
}
.checkbox-switcher:checked ~ .switcher-animated{
    left: 230px;
    background-color: green;
}